<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/5559/5559919.png" type="image/x-icon" />
    <title>Nutcrackers</title>
</head>
<body>
    
    <%- include /parts/navbar -%>

    <p class="fw-bolder text-center fs-1">Sample text</p>
    <div class="row">
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 text-marg">
            <p class="lh-base fs-3 text-center">
                Investor
            </p>
            <p class="lh-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illum corrupti hic nam, est quo voluptatum. 
                Quia beatae unde obcaecati distinctio sunt magni? Quisquam quis placeat ex cumque accusamus id? 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste pariatur dolorum sit, non eos qui in id 
                animi molestias voluptatum officiis beatae fugit illum assumenda unde nihil? Dolorum, quod fugit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illum corrupti hic nam, est quo voluptatum. 
                Quia beatae unde obcaecati distinctio sunt magni? Quisquam quis placeat ex cumque accusamus id? 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste pariatur dolorum sit, non eos qui in id 
                animi molestias voluptatum officiis beatae fugit illum assumenda unde nihil? Dolorum, quod fugit.
            </p>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 text-marg">
            <p class="lh-base fs-3 text-center">
                Worker
            </p>
            <p class="lh-base">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illum corrupti hic nam, est quo voluptatum. 
                Quia beatae unde obcaecati distinctio sunt magni? Quisquam quis placeat ex cumque accusamus id? 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste pariatur dolorum sit, non eos qui in id 
                animi molestias voluptatum officiis beatae fugit illum assumenda unde nihil? Dolorum, quod fugit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illum corrupti hic nam, est quo voluptatum. 
                Quia beatae unde obcaecati distinctio sunt magni? Quisquam quis placeat ex cumque accusamus id? 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste pariatur dolorum sit, non eos qui in id 
                animi molestias voluptatum officiis beatae fugit illum assumenda unde nihil? Dolorum, quod fugit.
            </p>
        </div>
    </div> 
    <div>
        <div class="index-form">
            <form action="/deploy" method="POST">
                <input type="text" name="startbalance" placeholder="Enter investition"/>
                <input class="form-check-input" type="checkbox" name="deploycheck"/>
                <label class="form-check-label" for="flexCheckDefault">
                    Confirm
                </label>
                <input class="btn btn-warning send-button apply-button-mrg" type="submit" value="deploy"/>
            </form>
        </div>
        <div class="index-form-2">
            <form action="/close" method="POST">
                <input class="form-check-input" type="checkbox"  name="closecheck"/>
                <label class="form-check-label" for="flexCheckDefault">
                    Confirm
                </label>
                <input class="btn btn-warning send-button apply-button-mrg" type="submit" value="close"/>
            </form>
        </div>
    </div>
</body>
</html>