html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.text-marg{
    padding-left: 50px;
    padding-right: 50px;
}

.investor-table{
    height: 750px;
    overflow-y: auto;
}
.marg-tables{
    margin: 0px 0px 0px 1%;
}
.chat-scroll{ 
    height: 750px;
    width: 96%;
    word-break:break-all;
    overflow-y: auto;
}
.col-8 {
    flex: 0 0 auto;
    width: 64.66666667%;
}

.row{
    align-items: center;
}

.Investor{
    background-color: #ffc107;
}

p {
    margin: 0%;
}
.marg-col-10{
    margin: 5px 0px;
}

.form-check-input{
    margin: 13px 0px 0px 0px;
}
.form-check-label{
    margin: 9px 0px 0px 0px;
}

.apply-button-mrg{
    margin: 0px 0px 5px 0px;
}

.form-check-input{
    border-color: #ffc107;
}
.form-check-input:checked{
    background-color: #ffc107;
    border-color: #ffc107;
}
.form-check-input:focus{
    border-color:#ffc107;
    outline:0;
    box-shadow:0 0 0 0rem #ffc107;
}
.form-check-input:checked{
    background-color:#ffc107;
    border-color:#ffc107}
.form-check-input:checked[type=checkbox]{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
}


.form-control:focus{
    color:#212529;
    background-color:#fff;
    border-color: #ffc10799;
    outline:0;
    box-shadow:0 0 0 .25rem #ffc10744;
}
.summary-bord:focus{
    transition: all 0.3s;
    color:#212529;
    background-color:#fff;
    border-color: #ffc10799;
    outline:0;
    box-shadow:0 0 0 .25rem #ffc10744;
}

/*TABLES for js*/
/*size*/
.table-u{
    width: 100%;
    margin: 0px 0px 25px 0px;
}
.table-u th, .table-u td{
    text-align: center;
    width: 25%;
    height: 50px;
}
.number-row{
    width: 25%;
}

/*color*/
.table-u th{
    background-color: #ffc107;
}

/*selection row*/
.table-u tr{
    transition: all 0.3s;
}
.table-u tr:hover{
    background-color: #ffc10799;
}

/*borders*/
.table-u td:not(:last-child){
    border-right: 1px solid #dee2e6;
}
.table-u td{
    border-bottom: 1px solid #dee2e6;
}


/*DIVs for index.ejs*/
.index-form{
    display: inline-block;
    width: 350px;
    margin: 0px 10px 0px 40px;
}
.index-form-2{
    display: inline-block;
    width: 145px;
    margin: 0px 10px 0px 40px;
}