html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.text-marg{
    padding-left: 50px;
    padding-right: 50px;
}

.investor-table{
    height: 750px;
    overflow-y: auto;
}
.marg-tables{
    margin: 0px 0px 0px 1%;
}
.chat-scroll{ 
    height: 750px;
    width: 96%;
    word-break:break-all;
    overflow-y: auto;
}
.col-8 {
    flex: 0 0 auto;
    width: 64.66666667%;
}

.row{
    align-items: center;
}
.form-height{
    height: 48px;
}
